footer {
  text-align: center;
  background-color: rgb(17, 17, 17);
  margin-top: 50px;
  height: 200px;
  color: white;
}
.card {
  width: 200%;

  font-size: 100px;
  margin: 0 20px;
  display: flex;
  justify-content: center;
}
