.sub3 {
  background-color: rgb(79, 109, 205);
  background-color: rgb(67, 213, 203);
  background-color: rgb(139, 163, 235);
}

.box1 {
  margin-left: 280px;
  height: 400px;
  margin-top: 200px;
  width: 1000px;
  background-color: rgb(225, 233, 232);
}
