h1 {
    font-size: 32px;
    font-weight: 300;
    color: #4c4c4c;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 10px;
  }
  .login-card {
    position: absolute;
    top : 20%;
    left : 35%;
    bottom: auto;
    right: 25%;
    background-color: #F7F7F7;
    width: 30%;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
  }
  .sign-in-card{
    position: absolute;
    top : 20%;
    left : 20%;
    bottom: auto;
    right: 15%;
    background-color: #F7F7F7;
    width: 60%;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
  }
  
  .login-content{
    padding: 3%;
    text-align: center;
  }
  
  .accounttype{
    margin-left: 8px;
    margin-top: 20px;
  }
 
  
.margin-input{
  margin-left: 20%;
  margin-right: 20%;
}


.hr{
    color: #a9a9a9;
    opacity: 0.3;
  }


  