.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
  margin-top: 5;
}
.firstLayerHome {
 
  background-repeat: no-repeat;
  background-position: center center;

  z-index: 20;
  position: relative;
  height: 100vh;
  width: 100%;
}

.tp-caption{
  z-index: 5;
  min-width: 0px;
  max-width: none;
  white-space: nowrap;
  font-size: 60px;
  line-height: 60px;
  font-weight: 300;
  color: rgb(51, 51, 51);
  letter-spacing: 10px;
  visibility: inherit;
  transition: none 0s ease 0s;
  border-width: 0px;
  margin: 0px;
  padding: 0px;
  min-height: 0px;
  max-height: none;
  opacity: 1;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transform-origin: 50% 50% 0px;
}
.home {
  padding-top: 125px;
}

.buttons {
  padding: 10% 0 0 0 !important;
  background: 0 0;
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  outline: 0;
}

.secondLayerHome {
  background: rgb(254, 254, 254);
  padding: 200px;
}

.row {
  flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    display: flex;
}
.section-advices-icon{
  text-align: left;
}
img{
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
  margin-right: 2em;
}

ul {
  margin: 0;
  padding-left: 1.5rem;
}
.list-icon-item {
  font-size: 20px;
  line-height: 1.5;
  margin: 64px 0;
  align-items: center;
  display: flex;
  font-weight: 500;
  padding-left: 80px;
  position: relative;
}
