

li:hover {
    background-color: #43d5cd ;
    transition: 0.6s;
  
  }
  .navbar-brand {
    position: center;
    background: url(../img/logo.png);
    width: 150px;
    height: 30px;
    left: 80px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}