.test1 {
  margin-top: 80px;
}
.bt1 {
  background-color: rgb(83, 83, 170);
  margin: 2px 0 10px 40%;
  width: 200px;
}
.div1 {
  width: 80%;
  text-align: justify;
  background: rgb(241, 241, 245);
}

.div1 h4 {
  text-align: center;
  color: rgb(43, 139, 123);
}
.card {
  padding: 10px;
  margin-top: 2rem;
}
.div2 h4 {
  color: rgb(24, 69, 136);
}

.input {
  width: 7%;
}
.im {
  margin-right: 5px;
  float: left;
}
.div2 {
  margin-top: 20px;
  background: rgb(241, 241, 245);
}
