.test1 {
  margin-top: 80px;
  margin-left: 200px;
}
#bt1 {
  margin-top: 1em;
  margin-bottom: 1em;

  width: 200px;
}
.div1 {
  text-align: center;
  height: 200px;
  width: 800px;
  background-color: rgb(244, 244, 245);
}
.div2 {
  margin-top: 2em;
  height: 150px;
  width: 800px;
  background-color: rgb(244, 244, 245);
}
